{% render 'partials/head.liquid', title: 'Squad page' %}

<ul>
  <li><a href="/">A-Z</a></li>
  {% for letter in alfabetArray %}
    <li><a href="/a-z/{{ letter }}" class="alfabet">{{ letter | upcase}}</a></li>
  {% endfor %}
</ul>

<ul>
  {% for person in persons %}
   
    <li><a href="/student/{{ person.id }}" style="--color-favorite: {{ person.fav_color }}" class="person-list-item">
    {{ person.vibe_emoji }} {{ person.name }} {{ person.vibe_emoji }}
    <img src="https://fdnd.directus.app/assets/{{ person.mugshot }}?width=400" alt="Profile picture">
    </a></li>
    
  {% endfor %}

  {% if persons.length == 0 %}
    
    <li class="error-message">😢 Er zijn geen studenten met deze letter 😢</li>

  {% endif %}
</ul>
</main>


<details>
  <summary>open</summary>
  {{ persons | json }}
</details>

{% render 'partials/foot.liquid', squads: squads %}